* {
    box-sizing: border-box;
  }
  /*Body styling*/
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4b4342;
    margin: 0; 
  }
/*Header formating*/
  .header {
    padding: 20px;
    background-color: #f4c0b6;
    overflow: hidden;
  }
/*Nav bar list options within header. Text is floating to right and displayed inline-flex and hover color applied.*/
.header nav {
    padding: 12px 14px;  
    float: right;
    font-size: 20px;
  }
  .header nav ul li {
    display: inline-flex;
    margin-left: 20px;

  }
  .header nav a:hover{
    background-color: #dbf5fa;
  }

/*Headers throughout webpage*/
h1 {
    display: inline-flex;
    font-size: 36px;
  }

h2 {
    margin-bottom: 20px;
    font-size:24px;
    padding: 20px;
  }
h3 {
    font-size: 20px;
  }
h4 {
  display: inline-flex;
  font-size: 18px;
}

/*Anchor Selector*/
a {
    text-decoration: none;
    color: #4b4342;
}
/*Paragraph line spacing applied*/
p {
  line-height: 1.6;
  
}

/*Main display holding sections*/
main {
    display: flex;
  }
section {
    flex: 70%;
    background-color: #fdf3f1;
    padding: 20px;
  }
/*Profile picture*/
.profile-pic{
    display: flex;
    flex:10%;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    max-height: 200px;
    max-width: 200px;
    float:left;
}
/*Content text within sections*/
.content-txt {
  width: 100%;
  padding: 20px;
  height: 200px;
  flex-wrap: wrap;
  text-align: justify;
  margin-bottom: 20px;
}
/*Resume text within section*/
.resume-txt {
  width: 100%;
  padding: 20px;
  flex-wrap: wrap;
  text-align: justify;
  margin-bottom: 10px;
}
/*My Work in section*/
.myWork{
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  flex:70%;
  flex-wrap: wrap;

}
/*Containers, columns, and text-blocks on top of work images within sections holding work*/
.container{
  position: relative;
  display:flex;
}
.container img {
  width: 100%;
}
.column {
border-style: solid;
border-width: 4px;
border-color:#f3baae;
position: relative;
flex: 30%;
margin:5px;
}
.column img {
  width: 100%;
  display:flex;
}
.text-block {
  position:absolute;
  flex: 30%;
  bottom: 20px;
  left: 20px;
  border-style: solid;
  border-width: 4px;
  border-color:#f3baae;
  background-color: #fdf3f1;
  padding-left: 20px;
  padding-right: 20px;
}
/*Opacity for image dulled*/
#myImage{
  opacity: 0.6;
}
/*text for resume link*/
.resume{ 
text-decoration: underline;
text-decoration-color: blue;
color:blue;
}
/*Footer containing contact info*/
footer {
  padding: 20px;
  overflow: hidden;
  text-align: left;
  background-image: url("../images/pink-water-color.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.footer nav { 
  float: right;
}
.footer nav ul li{
  display: inline-flex;
  margin-left: 20px;
}

/*Media Queries for phone & tablet
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation:portrait) { 

}

/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Galaxy Tab S ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {

}