* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  .header {
    padding: 20px;
    background-color: #fdf3f1;
    color: #4b4342;
  }
  
  .header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  .header nav ul {
    list-style-type: none;
}
 .header nav ul li {
    display: inline-block;
    margin-left: 25px;
   
  }
  h1 {
    display: inline-block;
    font-size: 36px;
  }
/*Anchor Selector*/
a {
    color: #4b4342;
    text-decoration: none;
}
  main {
    display: flex;
  }
  
  aside {
    flex: 30%;
    background-color: #b9c6ae;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  section {
    flex: 70%;
    background-color: #fff;
    padding: 20px;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  
  /* Profile Picture */
.profile-pic {
    max-width: 100px;
    height: auto;
   border-radius: 50%;

  }
    /* Image Placeholders */
    .sample-img {
        background-color: #fff;
        width: 100%;
        padding: 20px;
        height: 200px;
        border: 1px solid black;
      }
  
  /* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */
  
  /* Tablets - header changes color */
  @media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }
  