* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }

/*Header formating*/
  .header {
    padding: 20px;
    background-color: #fdf3f1;
    color: #4b4342;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
  }

/*Nav bar list options within header*/
.header nav {
    padding: 12px 14px;  
    float: right;
    font-size: 20px;
  }
  .header nav ul li{
    display: inline-flex;
    margin-left: 20px;
  }
  .header nav a:hover{
    background-color: #dbf5fa;
    color:#4b4342;
  }

/*Portfolio profile name*/
h1 {
    display: inline-flex;
    font-size: 36px;
  }


h2 {
    margin-bottom: 20px;
    font-size:24px;
  }


/*Anchor Selector*/
a {
    color: #4b4342;
    text-decoration: none;
}
main {
    display: flex;
  }
  aside {
    flex: 30%;
    background-color: #fdf3f1;
    padding: 20px;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4b4342;
  }
  section {
    flex: 70%;
    background-color: #fdf3f1;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4b4342;
  }
  .profile-pic{
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    max-height: 220px;
    max-width: 220px;
}
.content-txt {
  width: 100%;
  padding: 20px;
  height: 200px;
}
.container{
  position: relative;
  display:flex;
}

.container img {
  width: 100%;
}

.column {
border-style: solid;
border-width: 4px;
border-color:#f3baae;
position: relative;
flex: 30%;
margin:5px;

}
.column img {
  width: 100%;
  display:flex;
}

.text-block {
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-style: solid;
  border-width: 4px;
  border-color:#f3baae;
  background-color: #fdf3f1;
  color:#4b4342;
  padding-left: 20px;
  padding-right: 20px;
}
footer {
  padding: 20px;
  text-align: center;
  background-image: url("../images/pink-water-color.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#myImage{
  opacity: 0.6;
}
.resume{ 
text-decoration: underline;
text-decoration-color: blue;
color:blue;
}